<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Dashboard Coffee</title>
    <th:block th:replace="/layout/head :: head"></th:block>
    <link rel="stylesheet" href="/assets/bootstrap/v5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">

</head>

<body>
<div id="wrapper">
    <th:block th:replace="/layout/topbar :: topbarStaff"></th:block>
    <th:block th:replace="/layout/left-sidebar :: left-sidebar"></th:block>

    <div class="content-page">
        <div class="content">
            <div class="container-fluid">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-4">
                            <h1>Danh sách nhân viên</h1>
                        </div>
                        <div class="col-sm-8">
                            <button type="button" class="btn btn-outline-light" id="btnShowModalCreate">
                                <i class=" fa-solid fa-plus"></i>
                                Thêm nhân viên
                            </button>
                        </div>
                    </div>
                </div>

                <!--                <th:block th:replace="/dashboard/modal-create :: modal-create"></th:block>-->

                <div class="row">
                    <input type="hidden" id="currentRow"/>

                    <table id="tbUser" class="table table-hover ">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Ảnh</th>
                            <th>Họ tên</th>
                            <th>Số điện thoại</th>
                            <th>Province</th>
                            <th>District</th>
                            <th>Ward</th>
                            <th>Address</th>
                            <th>Vai trò</th>
                            <th colspan="2">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="/layout/footer :: footer"></th:block>
</div>

<th:block th:replace="/layout/script :: script"></th:block>
<th:block th:replace="/dashboard/modalCreateStaff "></th:block>

<script src="/assets/jquery/jquery-3.7.0.min.js"></script>
<script src="/assets/jquery/jquery.validate.js"></script>
<script src="/assets/bootstrap/v.5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="/assets/sweetalert2/sweetalert2.all.min.js"></script>
<script src="/assets/js/magnific-popup-1.1.0.js"></script>
<script src="/assets/js/app.js"></script>


<script>
    const page = {
        url: {
            getAllUser: App.API_STAFF,
            getAllRole: App.API_ROLE
        },
        elements: {},
        loadData: {},
        commands: {},
        dialogs: {
            elements: {},
            commands: {},
            loadData: {}
        }
    }
    page.elements.tblUserBody = $('#tbUser tbody')
    page.elements.roleSpan = $('#roleSpan')
    page.elements.roleSelect = $('#roleSelect')

    page.elements.btnShowModalCreate = $('#btnShowModalCreate');
    page.elements.modalCreate = $('#modalCreate');
    page.elements.fullNameCre = $('#fullNameCre');
    page.elements.emailCre = $('#emailCre');
    page.elements.phoneCre = $('#phoneCre');
    page.elements.balanceCre = $('#balanceCre');
    page.elements.provinceCre = $('#provinceCre');
    page.elements.districtCre = $('#districtCre');
    page.elements.wardCre = $('#wardCre');
    page.elements.addressCre = $('#addressCre');
    page.elements.btnCreate = $('#btnCreate');

    page.commands.renderUser = (staff) => {
        let imageThumbnail = App.BASE_URL_CLOUD_IMAGE + "/" + App.BASE_SCALE_IMAGE + "/" + staff.staffAvatar.fileFolder + "/" + staff.staffAvatar.fileName;
        return `
                <tr>
                    <td>${staff.id}</td>
                    <td><img src="${imageThumbnail}" alt="" /></td>
                    <td>${staff.title}</td>
                    <td>${staff.phone}</td>
                    <td>${staff.locationRegion.provinceName}</td>
                    <td>${staff.locationRegion.districtName}</td>
                    <td>${staff.locationRegion.wardName}</td>
                    <td>${staff.locationRegion.address}</td>
                    <td><span id="roleSpan">
                            ${staff.user.role.code}
                        </span>
                        <select class="form-select" name="role" id="roleSelect" hidden="true">
                        </select>
                    </td>

                    <td>
                        <button class="btn btn-outline-secondary">
                            <i class="fas fa-user-edit"></i>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-outline-danger">
                            <i class="fas fa-user-slash"></i>
                        </button>
                    </td>
                </tr>
            `
    }


    page.commands.getAllUsers = () => {
        // console.log('data')
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: 'GET',
            url: page.url.getAllUser
        })
            .done((data) => {
                console.log(data);
                $.each(data, (index, item) => {
                    console.log(item)
                    const str = page.commands.renderUser(item)
                    page.elements.tblUserBody.append(str)
                })
                // page.commands.updateRole();
            })
            .fail(function () {
                App.SweetAlert.showErrorAlert(App.AlertMessageVi.ERROR_404);
            });
    }

    // page.commands.getRoles = () => {
    //     $.ajax({
    //         headers: {
    //             'Accept': 'application/json',
    //             'Content-Type': 'application/json'
    //         },
    //         type: 'GET',
    //         url: page.url.getAllRole,
    //     })
    //         .done((data) => {
    //             page.elements.roleSelect.empty();
    //             $.each(data, function (index, item) {
    //                 page.elements.roleSelect.append($('<option>').val(item.id).text(item.code));
    //             })
    //         })
    //         .fail(function () {
    //             App.SweetAlert.showErrorAlert(App.AlertMessageVi.ERROR_404);
    //         });
    // }

    // page.commands.updateRole = () => {
    //     $('.update-role').on('click', () => {
    //         page.elements.roleSpan.hide();
    //         page.elements.roleSelect.removeAttr('hidden').show()
    //         page.commands.getRoles();
    //     })
    //
    // }

    page.initializeControlEvent = () => {
        page.elements.btnShowModalCreate.on('click', () => {
            page.elements.modalCreate.modal('show');
        })
    }

    page.loadData = () => {
        page.commands.getAllUsers();
    }

    $(() => {
        page.loadData();
        page.initializeControlEvent();
    })

</script>

</body>
</html>